# Uncomment these types if you want even more clean repository. But be careful.
# It can make harm to an existing project source. Read explanations below.
#
#*.res
*.tlb
*.ddp
*.vlb
*.deployproj
*.obj
*.ppu
*.o
*.or
*.compiled
*.rst
*.rsj
*.s
*.so
*.lrs
*.bak
*.bak0
*.bak1
*.bak2
*.bak3
*.old
*.lps
*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.lib
*.a
*.o
*.ocx
*.cfg
*.hpp
Resource.rc
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk
*.~*
*.stat
*.json
lib/
backup/
python-3.11.5-embed-win32/
obj/
bin/
modules/
__history/
__recovery/
python4delphi/
